/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./tutorial/assets/variable.css ***!
  \********************************************************************************/:root{--set-color-white:#fff;--set-color-black:#000}
/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./tutorial/pages/app/app.css ***!
  \******************************************************************************/*{box-sizing:border-box;margin:0;padding:0}.nav{border-bottom:1px solid;padding-bottom:1rem}
/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./tutorial/pages/invoices/invoices.css ***!
  \****************************************************************************************/.invoices{display:flex;padding:1rem 0}.invoices-list{border-right:1px solid;padding:1rem}.invoices-item{display:block;margin:1rem 0}
/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./tutorial/pages/notmatch/index.css ***!
  \*************************************************************************************/.no-match{padding:1rem}