.invoices{
    padding: 1rem 0;
    display: flex;
}
.invoices-list{
    border-right: solid 1px;
    padding: 1rem;
}
.invoices-item{
    display: block;
    margin: 1rem 0;
}
.invoices-item.active{
    border: solid 1px;
}